.element{
    margin-left:1%;
    margin-right:2%;
}

input{
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lab{
	margin-top: 10px;
	margin-left: 600px;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}